<?xml version="1.0"?>  
<configuration>
		<logger name="com.cq2022.zago" level="DEBUG"/>
		<logger name="jdbc.connection" level="ERROR"/>
		<logger name="jdbc.audit" level="ERROR"/>
		<logger name="jdbc.sqlonly" level="info"/>
		<logger name="jdbc.resultset" level="ERROR"/>
		<logger name="jdbc.sqltiming" level="ERROR"/>  
		
    <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->  
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">  
    <encoder>  
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  
    </encoder>  
  </appender>
    <!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出  -->  
	  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">   
	    <file>../logs/orvibo/test.log</file>   
	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
	      <fileNamePattern>test.%i.log</fileNamePattern>   
	      <minIndex>1</minIndex>   
	      <maxIndex>100</maxIndex>   
	    </rollingPolicy>   
	   
	    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">   
	      <maxFileSize>5MB</maxFileSize>   
	    </triggeringPolicy>   
	    <encoder>   
	      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>   
	    </encoder>   
	  </appender>  
    <!-- 日志级别 -->  
    <root>  
        <!-- 定义了ERROR和INFO级别的日志，分别在FILE文件和控制台输出 -->  
        <level value="error" />  
        <level value="info" />  
        <level value="debug" />
        <appender-ref ref="console" />  
        <appender-ref ref="file" />
    </root>  
</configuration>   